<div class="col-xs-12">
  <div class="nav-wrap text-right">
    <ul class="list-inline">
      <li>
        <button [disabled]="pageData.currentPage == 1" (click)="prevPage()" class="btn btn-default">Prev</button>
      </li>
      <li *ngFor="let item of paginate">
        <button *ngIf="show(item.value)" [class.active]="pageData.currentPage == item.value" class="btn btn-default" (click)="navigate(item.page, item.value)">{{item.value}}</button>
      </li>
      <li>
        <button [disabled]="pageData.currentPage == pageData.totalPage" (click)="nextPage()" class="btn btn-default">Next</button>
      </li>
    </ul>
  </div>
</div>
