<div class="row">

  <div class="col-md-8 mt-40">
    <div class="table-wrap" [class.loading]="users.loading">
      <table class="table">
        <tr>
          <th>
            <span>id</span>
            <span class="filter" (click)="sortById()">
              <i class="material-icons">sort</i>
            </span>
          </th>
          <th>
            <span>Users</span>
            <span class="filter" (click)="sortByName()">
              <i class="material-icons">sort</i>
            </span>

            <span>
              <input type="text" class="form-control" [(ngModel)]="query" name="query" (ngModelChange)="filterSearch($event)" placeholder="search">
            </span>
          </th>
          <th>
            Action
          </th>
        </tr>
        <tr *ngFor="let user of users.newData;index as i">
          <td>{{user.id}}</td>
          <td>{{user.login}}</td>
          <td>
            <ul class="list-inline">
              <li (click)="editUser(user.login)">
                <i class="material-icons">create</i>
              </li>
              <li (click)="openDialog(user.login)">
                <i class="material-icons">visibility</i>
              </li>
              <li (click)="deleteUser(i)">
                <i class="material-icons">delete</i>
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <div class="row">
        <app-navigate [isNav]="users.since" (onNavigate)="onNavigate($event)"></app-navigate>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-40">
    <div class="card user-edit" *ngIf="users.userData">
      <p class="f-16 bold dark-text">{{users.userData.login}}</p>
      <form>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" value="{{users.userData.name}}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Location" value="{{users.userData.location}}">
        </mat-form-field>
        <button mat-raised-button color="primary">Update</button>
        <button mat-button (click)="users.userData = null ">Close</button>
      </form>
    </div>
  </div>
</div>
